{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                <blockquote></blockquote>This is a Home Page.</blockquote>
            </h1>
            
            This is the home page!
        </div>

    </div>
</div>
{{end}}